<form method="post" action="{{ path('client_msisdn_delete', {'id': client_msisdn.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client_msisdn.id) }}">
    <button class="btn">Delete</button>
</form>
