{% extends 'base.content.html.twig' %}

{% block title %}Edit CallingTask{% endblock %}

{% block content
    <h1>Edit CallingTask</h1>

    {{ include('calling_task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('calling_task_index') }}">back to list</a>

    {{ include('calling_task/_delete_form.html.twig') }}
{% endblock %}
